Repository krjackso/gw2-data-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, validate-item-yaml

ruff-check:
  name: Ruff lint
  entry: uv run ruff check --exclude prompts/
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff format
  entry: uv run ruff format --check --exclude prompts/
  language: system
  pass_filenames: false

validate-item-yaml:
  name: Validate item YAML files
  entry: uv run python -m scripts.validate
  language: system
  pass_filenames: false

Update mystic clover avg drop rate
  data/items/19675.yaml
Due: validate-item-yaml

Remove incorrect mystic forge acquisitions for Mystic Binding Agent
  data/items/39125.yaml
Due: validate-item-yaml

Add Issue-Driven Development workflow to CLAUDE.md
  CLAUDE.md
Due: none

GW2-60: Add vendor locations data pipeline
  .linear.toml
  data/schema/location.schema.json
  data/schema/vendor.schema.json
  docs/data-distribution.md
  pyproject.toml
  scripts/build_dist.py
  scripts/populate_vendors.py
  src/gw2_data/models.py
  src/gw2_data/vendor_scraper.py
  tests/test_vendor_scraper.py
Due: ruff-check, ruff-format

GW2-60: Use (zone, area) composite key for location uniqueness
  CLAUDE.md
  data/schema/location.schema.json
  data/schema/vendor.schema.json
  docs/data-distribution.md
  scripts/build_dist.py
  scripts/populate_vendors.py
  src/gw2_data/models.py
Due: ruff-check, ruff-format

GW2-60: Support multiple waypoints per area
  data/schema/location.schema.json
  docs/data-distribution.md
  scripts/build_dist.py
  scripts/populate_vendors.py
  src/gw2_data/models.py
  src/gw2_data/vendor_scraper.py
  tests/test_vendor_scraper.py
Due: ruff-check, ruff-format

Add actual vendor data
  data/vendors/locations.yaml
  data/vendors/vendors.yaml
Due: none

Add some missing gen2 items
  data/items/73350.yaml
  data/items/73885.yaml
Due: validate-item-yaml

Fix vendor_locations UNIQUE constraint failure in build_dist
  data/vendors/vendors.yaml
  scripts/build_dist.py
Due: ruff-check, ruff-format

Add map_meta reward type, remove low value map completion rewards, and fix EOD gift acquisitions
  data/items/19701.yaml
  data/items/19718.yaml
  data/items/19739.yaml
  data/items/19743.yaml
  data/items/19745.yaml
  data/items/19748.yaml
  data/items/44941.yaml
  data/items/66930.yaml
  data/items/68952.yaml
  data/items/70842.yaml
  data/items/78171.yaml
  data/items/78332.yaml
  data/items/78617.yaml
  data/items/78650.yaml
  data/items/78743.yaml
  data/items/78748.yaml
  data/items/78751.yaml
  data/items/78783.yaml
  data/items/80332.yaml
  data/items/86977.yaml
  data/items/95621.yaml
  data/items/96083.yaml
  data/items/96993.yaml
  data/items/97232.yaml
  prompts/extract_acquisitions.py
  src/gw2_data/models.py
Due: ruff-check, ruff-format, validate-item-yaml

Add time-aware acquisition metadata and normalize limit fields across all acquisition types
  src/gw2_data/models.py
  src/gw2_data/sorter.py
  tests/test_schema.py
Due: ruff-check, ruff-format

Add metaName to MapRewardMetadata and fix stale CLAUDE.md docs
  CLAUDE.md
  src/gw2_data/models.py
Due: ruff-check, ruff-format

Add estimated time for wvw tracks
  .claude/skills/dev/SKILL.md
  data/items/102494.yaml
  data/items/103038.yaml
  data/items/104829.yaml
  data/items/105686.yaml
  data/items/106385.yaml
  data/items/106532.yaml
  data/items/19675.yaml
  data/items/19678.yaml
  data/items/19925.yaml
  data/items/20323.yaml
  data/items/36038.yaml
  data/items/41824.yaml
  data/items/43766.yaml
  data/items/68063.yaml
  data/items/71581.yaml
  data/items/79469.yaml
  data/items/86977.yaml
  data/items/87645.yaml
  data/items/88955.yaml
  data/items/89537.yaml
Due: validate-item-yaml

Add map completion times
  data/items/19677.yaml
  data/items/70698.yaml
  data/items/70797.yaml
  data/items/71943.yaml
  data/items/74528.yaml
  data/items/95621.yaml
  data/items/96083.yaml
  data/items/96993.yaml
  data/items/97232.yaml
Due: validate-item-yaml

Update CLAUDE.md
  CLAUDE.md
Due: none

Update CLAUDE.md
  CLAUDE.md
  src/gw2_data/api.py
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  validate-item-yaml: any of: ^data/items/.*\.yaml$
